.Dashboard{
    display:flex;
}
.Dashboard div{
    width:100%;
}
header{
    width:96%;
    margin-left:2%;
    margin-right:2%;
    display:flex;
    justify-content: space-between;
}
header h1{
    width:100%;
}
header div{
    display:flex;
    align-items: center;
    gap:5%;
    font-size:30px;
    justify-content: flex-end;
}
header div input{
    font-size:22px;
}
.Dashboard Main{
    margin-top:50px;
    margin-left:2%;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.DashboardMain img{
    height:500px;
    border-radius:10px;
}
.DashboardMain section{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap:20px;
}
.DashboardMain section button{
    background-color: #35DCC2;
    width: 80%;
    height:60px;
    border-radius: 10px;
}
.Dashboard section button:hover{
    background-color: #61EAD4;
}
