footer{
    background-color: #CECECE;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 15px;
    text-align: center;
}
footer section{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    width:100%
}
.Info{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Info div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Info i{
    font-size:3.125rem;
}
@media (min-width: 320px){
    footer section{
        flex-direction: column;
    }
    footer section hr{
        height: 0px;
        width: 80%;
        border-bottom: 1px solid black;
    }
    .Info section{
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width: 768px){
    footer section{
        flex-direction: row;
    }
    footer section hr{
        height: 160px;
        width:0%;
        border-left: 1px solid black;
    }
    .Info section{
        flex-direction: row;
        align-items: center;
    }
}
@media (min-width: 1024px){
    footer{
        align-items:center;
    }
}