.Appointments{
    display:flex;
}
.Appointments section{
    width:100%;
    margin-top:50px;
    margin-left:2%;
    margin-bottom:50px;
    display:flex;
    justify-content: center;
}
.Appointments form{
    background-color:#35DCC2;
    width:50%;
    max-height:68vh;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding:10px;
}
.Appointments button{
    width:30%;
    padding:5px;
    border-radius: 20px;
}
.Appointments button:hover{
    background-color: #61EAD4;
}
.Appointments form div{
    width:100%;
    display:flex;
    justify-content: center;
    gap:2%;
}
.Appointments form div i{
    font-size:50px;
    color: white;
}
.Appointments form div input{
    width:80%;
    height:50px;
    font-size:20px;
    border-radius: 10px;
}
.Appointments form div select{
    width:80%;
    height:50px;
    font-size:20px;
    border-radius: 10px;
}