.Home{
    margin-top:75px;
    margin-bottom:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
.Home header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Home h1{
    display: flex;
    justify-content: center;
}
.Home section{
    display:flex;
    justify-content: center;
    gap:1%;
    width:90%;
}

@media (min-width: 320px){
    .Home section{
        flex-direction: column;
        align-items: center;
    }
    .Home img{
        width:80%
    }
}
@media (min-width: 768px){
    .Home section{
        flex-direction: row;
        align-items: center;
    }
    .Home img{
        width:32%
    }
}