.NavHome{
    background-color: #35DCC2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content: space-between;
    gap:20px;
    padding: 10px;
}
.NavHome img{
    width:40px;
}
.NavHome div{
    display:flex;
    align-items: center;
    font-weight: bold;
}
.NavHome section{
    display:flex;
    gap:10px;
}   
.NavHome section button{
    font-size:16px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    border-radius: 10px;
    width:120px;
    padding:10px;
}
.NavHome section button:hover{
    background-color: #61EAD4;
}