.ProfileMenu{
    background-color: #35DCC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    gap: 10%;
    padding: 10px;
    z-index:-1;
}
.ProfileMenu img{
    width:80%;
}
.ProfileMenu section{
    display:flex;
    flex-direction: column;
    gap:25px;
}
.ProfileMenu section div{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    width:80%;
}
.ProfileMenu section div:hover{
    background-color: #61EAD4;
}