.ProfileMenu{
    background-color: #35DCC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    gap: 6%;
    padding: 10px;
    z-index:-1;
}
.ProfileMenu img{
    width:100%;
}
.ProfileMenu section{
    display:flex;
    flex-direction: column;
    gap:25px;
}
.ProfileMenu section button{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:24%;
    width:80%;
}